<html xmlns:th="http://www.thymeleaf.org">

<body id="samples">

    <nav class="navbar navbar-default"  th:fragment="menu">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Home</a></li>
            <li><a id="profile-button" th:href="@{/profile}" th:if="${#authorization.expression('isAuthenticated()')}">My Profile</a></li>
        </ul>
        <form method="post" th:action="@{/logout}" th:if="${#authorization.expression('isAuthenticated()')}" class="navbar-form navbar-right">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button id="logout-button" type="submit" class="btn btn-danger">Logout</button>
        </form>
      </div>
    </nav>

</body>
</html>